<h2>Cart</h2>


<table class="table" id="cartLineItems">
	<thead>
		<tr>
			<th>Sl No</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
			<th>Action</th>
			<th>Wishlist</th>
		</tr>
	</thead>
<%sum=0%>
	<tbody>
		<%@cart_line_items.each_with_index do |line_item,index| %>

		<tr>
			<td><%= index+1%></td>
			<td><%= line_item.product.name%></td>
			<td><%= line_item.product.price%></td>
			

			<td>
			<%= form_for(line_item,remote: true) do |f|%>
			<%= f.select :quantity,(1..10).to_a%>
			<%=f.submit "update"%>
			<%end%>
			</td>
			<td>
			<%= line_item.product.price * line_item.quantity%>
				
			</td>
			<%sum += line_item.product.price * line_item.quantity%>
			<td>
			<%=link_to "Remove",cart_line_item_path(line_item.id), method: :delete, data:{confirm:"Are you sure?"}%>
				
			</td>
			<td>
			<%= form_for @wishlist do |f|%>
			<%=f.hidden_field :product_id, value:line_item.product.id%>
			<%=f.submit "Add"%>
			<%end%>
			</td>
		</tr>
		<%end%>

	</tbody>

</table>
<h4>Cart Total : <%=sum.round(2)%></h4>


<%= form_for @order do |f|%>
	Select address:

	<%=f.collection_select :address_id, current_user.addresses, :id, :street_address, prompt:"select address"%> or <%=link_to "add new address",new_address_path%> <br>


	<%=f.submit "checkout"%> 

<%end%>

<script>


	$(document).ready(function(){
		$('#cartLineItems').DataTable();
	});


	var quantityHandle = document.getElementById('cart_line_item_quantity')
	var formLength = document.getElementsByClassName('edit_cart_line_item').length
	var formClassName = document.getElementsByClassName('edit_cart_line_item');
	var lineId = document.getElementsByClassName('edit_cart_line_item')[0].action.split('/')
	var lineIdHandle = lineId[lineId.length-1]
	function getIds(){
		console.log("getIds");
	//document.getElementById('edit_cart_line_item_27')[2].value
	//var EditHandle = document.getElementById('edit_cart_line_item_'+)	
	for (var i = 0; i < formClassName.length-1; i++) {
		console.log(formClassName[i])
		console.log('edit_cart_line_item_'+lineIdHandle)
		if(formClassName[i].id == ('edit_cart_line_item_'+quantityHandle.value)	){
			console.log("getIdspppp")
			var formData1 = 
		{cart_line_item:
			{quantity: quantityHandle.value}
		};
		console.log(formData1)
		}

	}
	}


	quantityHandle.addEventListener('change',function(){
		getIds();
		var formData = 
		{cart_line_item:
			{quantity: quantityHandle.value}
		};
	var xhr = new XMLHttpRequest();
	xhr.open('PATCH','http://localhost:3000/cart_line_items/'+lineIdHandle,true);
	xhr.setRequestHeader('Content-Type',"application/json");
	xhr.onreadystatechange = function() {
		console.log("inside ajax")
		if (xhr.readyState === 4 && xhr.status === 200) {
			var response = JSON.parse(xhr.responseText);
			//console.log(response);
		}
	}
	
	xhr.send(JSON.stringify(formData));

	},false);
	
</script>