<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
  <h2>Listing Products(<%=@category.products.length%>)</h2>
<% @category.products.each do |product|%>
	<li><%=link_to product.name, product_path(product.id)%><%= product.price%></li>
	<%end%>

</p>

<%= link_to 'Edit', edit_category_path(@category) %> 
<%= link_to 'Back', categories_path %>
